
@font-face {
  font-family: 'Larsseit';
  font-weight: 300;
  src: url('./assets/fonts/Larsseit-Light.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Larsseit-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/Larsseit-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Larsseit';
  font-weight: 400;
  src: url('./assets/fonts/Larsseit.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Larsseit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Larsseit.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/Larsseit.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Larsseit';
  font-weight: 600;
  src: url('./assets/fonts/Larsseit-Medium.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Larsseit-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/Larsseit-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Larsseit';
  font-weight: 800;
  src: url('./assets/fonts/Larsseit-Bold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Larsseit-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Larsseit-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/Larsseit-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}