@import 'fonts';


////////////////


body {
  font-family: 'Larsseit', sans-serif;
  font-weight: 300;
}
* {
  font-family: 'Larsseit', sans-serif;
  font-weight: 300;
}


.results {
  margin-bottom: 50px;
  .yanime-item-wrapper {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgba(#000, 0.1);    
    .yanime-item-holder {
      .result {
        position: relative;
        padding: 20px 30px;
        cursor: pointer;
        line-height: 16px;
        transition: all 500ms cubic-bezier(0.005, 0.795, 0.170, 0.995);
        &:hover {
          top: -1px;
          font-weight: 500;
          padding-left: 40px;
        }
      }
    }
    &.yanime-new-item .result {
      background: green;
      @keyframes new-anim {
        0%   { background: green; }
        100% { background: transparent; }
      }
      animation: new-anim 500ms cubic-bezier(0.775, -0.005, 0.110, 0.990);
      animation-delay: 500ms;
      animation-fill-mode: forwards;
    }
  }
}
